<div class="row">
  <div class="col-md-3" style="left: 15px">
    <center>
      <h4>SoundCrowd Developers</h4>
    </center>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="well" style="margin-bottom: 0px">
          <center>
            <div class="row">
              <h3>Reyna DeLoge <%= image_tag('Reyna.JPG', class:'img-profile') %></h3>
              <h5><a href="https://www.linkedin.com/profile/view?id=388627769"><%= image_tag('linkedin_icon.png') %></a>
                <a href="https://github.com/reydelo"><%= image_tag('GitHub-Mark.png', class:'img-footer') %></a></h5>
                <h5>Project Manager and Our Fearless Leader!</h5>
                <h5>gSchool Student</h5>
              </div></center>
            </div>
          </li>
          <li class="list-group-item">
            <div class="well" style="margin-bottom: 0px">
              <div class="row">
                <center>
                  <h3>Casey Kelly <%= image_tag('Casey.jpg', class:'img-profile') %></h3>
                  <h5><a href="https://www.linkedin.com/in/caseyjkelly"><%= image_tag('linkedin_icon.png') %></a>
                    <a href="https://github.com/CaseyKelly"><%= image_tag('GitHub-Mark.png', class:'img-footer') %></a></h5>
                    <h5>Head of User Interface,</h5>
                    <h5>gSchool Student</h5>
                  </center>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="well" style="margin-bottom: 0px">
                <div class="row">
                  <center>
                    <h3>Jake Marwil <%= image_tag('Jake.JPG', class:'img-profile') %></h3>
                    <h5><a href="https://www.linkedin.com/in/robertmarwil"><%= image_tag('linkedin_icon.png') %></a>
                      <a href="https://github.com/rjmarwil"><%= image_tag('GitHub-Mark.png', class:'img-footer') %></a></h5>
                      <h5>Pickle Connoisseur and Enthusiast</h5>
                      <h5>gSchool Student</h5>
                    </center>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="well" style="margin-bottom: 0px">
                  <div class="row">
                    <center>
                      <h3>Nina Lisitsa <%= image_tag('Nina.JPG', class:'img-profile') %></h3>
                      <h5><a href="https://www.linkedin.com/in/ninajlisitsa"><%= image_tag('linkedin_icon.png') %></a>
                        <a href="https://github.com/Ninajl"><%= image_tag('GitHub-Mark.png', class:'img-footer') %></a></h5>
                        <h5>Serious Salsa Dancer</h5>
                        <h5>gSchool Student</h5>
                      </center>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="well" style="margin-bottom: 0px">
                    <div class="row">
                      <center>
                        <h3>Nick Kalinoski<%= image_tag('Nick.JPG', class:'img-profile') %></h3>
                        <h5><a href="https://www.linkedin.com/pub/nick-kalinoski/a7/585/116/en"><%= image_tag('linkedin_icon.png') %></a>
                          <a href="https://github.com/nkalinos"><%= image_tag('GitHub-Mark.png', class:'img-footer') %></a></h5>
                          <h5>Pokemon Master</h5>
                          <h5>gSchool Student</h5>
                        </center>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-9">
                <div class="page-header pokemon">
                  <h1>About SoundCrowd</h1>
                </div>
                <div class="col-md-11">
                  <div class="jumbotron">
                    <ul>
                      <li><h4>SoundCrowd, based in Denver, Colo., is a student project for <%= link_to 'gSchool', "http://www.galvanize.it/education" %> - a unique 24 week program for people who are serious about becoming developers.</h4></li>
                      <li><h4>This application uses information from <%= link_to 'BandsInTown', 'http://www.bandsintown.com/home'%>, <%= link_to 'Google Maps', 'https://www.google.com/maps/'%>, <%= link_to 'Yelp', 'http://www.yelp.com/'%>, <%= link_to 'Facebook', 'https://www.facebook.com/?_rdr'%> and <%= link_to 'YouTube', 'https://www.youtube.com/'%>.</h4></li>
                      <li><h4>The mission of our project is to provide users with a simple view of concerts in their area, or anywhere else across the globe.</h4></li>
                      <li><h4>Landing page photography and nude modeling by: <%= link_to "Ty Hyten", 'http://www.tyhyten.com/' %></h4></li>
                      <li><h4>Special thanks to <%= link_to "Bobby Wilson", 'https://github.com/bobbywilson0' %> and <%= link_to "Zach Kablunde", 'https://github.com/zbunde' %></h4> </li>
                    </ul>
                  </div>
                </div>
              </div>
              <%= image_tag('about picture.jpg', class:'about')%>
            </div>
