<!DOCTYPE html>
<html>
<head>
  <title>SoundCrowd</title>
  <%= favicon_link_tag "SoundCrowd_equalize.png" %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <% if controller_name == "welcome" %>
  <%= stylesheet_link_tag    'vegas', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>

<script type="text/javascript">
  function initialize() {
     var input = document.getElementById('searchTextField');
     var autocomplete = new google.maps.places.Autocomplete(input);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>

<body>
  <% unless controller_name =="welcome" %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="form-group has-feedback">
        <a class="navbar-brand" href="/dashboard#index"><span class="glyphicon glyphicon-equalizer"  style="margin-right: 10px"><div class='SC'><%= image_tag 'SoundCrowd2.png', class: 'SC' %></div></span></a>
      </div>
    </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <% if action_name == "index" %>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group has-feedback">
            <input id="searchTextField" type="text"  autocomplete= "on" name="search" class="form-control" placeholder= "<%= @location %>">
            <span class="glyphicon glyphicon-search form-control-feedback"><input type="submit" style="display: none;"></span>
          </div>
        </form>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if @user %>
          <li><%= image_tag @user.image, class: 'avatar' %></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%= @user.name %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Log Out", signout_path %></li>
            </ul>
          </li>
        </ul>
          <% end %>

      </div>
    </div>
  </nav>
  <% end %>

<%= yield %>

</body>
</html>
