<!DOCTYPE html>
<html>
<head>
  <title>SoundCrowd</title>
  <%= favicon_link_tag "SoundCrowd_equalize.png" %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <% if controller_name == "welcome" %>
  <%= stylesheet_link_tag    'vegas', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless controller_name =="welcome" %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="form-group has-feedback">
        <a class="navbar-brand" href="/dashboard#index"><span class="glyphicon glyphicon-equalizer"  style="margin-right: 10px"></span>SoundCrowd</a>
      </div>
    </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group has-feedback">
            <input type="text" name="search" class="form-control" placeholder="Location: Denver, CO">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
        <ul class="nav navbar-nav">
          <li><a href="#" class="navbar-brand">Venues</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if @user %>
          <li ><%= image_tag @user.image, class: 'avatar' %></li>
          <li ><%= link_to @user.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% end %>

<%= yield %>

</body>
</html>
