<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  body {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

  div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

  div.dialog > div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: white;
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  h1 {
    font-size: 100%;
    color: #730E15;
    line-height: 1.5em;
  }

  div.dialog > p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-color: #DADADA;
    color: #666;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }
  </style>
</head>

<body>

<script type="text/javascript">
  function initialize() {
    var options = {
      types: ['(cities)']

      };

     var input = document.getElementById('searchTextField');
     var autocomplete = new google.maps.places.Autocomplete(input, options);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

  <% unless controller_name =="welcome" %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="form-group has-feedback">
        <a class="navbar-brand" href="/dashboard#index"><span class="glyphicon glyphicon-equalizer"  style="margin-right: 10px"><div class='SC'><%= image_tag 'SoundCrowd2.png', class: 'SC' %></div></span></a>
      </div>
    </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <% if action_name == "index" %>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group has-feedback">
            <input id="searchTextField" type="text"  autocomplete= "on" name="search" class="form-control" placeholder= "<%= @location %>">
            <span class="glyphicon glyphicon-search form-control-feedback"><input type="submit" style="display: none;"></span>
          </div>
        </form>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if @user %>
          <li><%= image_tag @user.image, class: 'avatar' %></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%= @user.name %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Log Out", signout_path %></li>
            </ul>
          </li>
        </ul>
          <% end %>

      </div>
    </div>
  </nav>
  <% end %>


  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1>Sorry dude. The page you were looking for doesn't exist.</h1>
      <img src="http://i.imgur.com/RJ7ONai.png" height=550px>
    </div>
  </div>
</body>
</html>
